<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Railways1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Railway.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createAccount</display-name>
    <servlet-name>createAccount</servlet-name>
    <servlet-class>Railway.createAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccount</servlet-name>
    <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Train</display-name>
    <servlet-name>Train</servlet-name>
    <servlet-class>Railway.Train</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Train</servlet-name>
    <url-pattern>/Train</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Station</display-name>
    <servlet-name>Station</servlet-name>
    <servlet-class>Railway.Station</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Station</servlet-name>
    <url-pattern>/Station</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompartmentType</display-name>
    <servlet-name>CompartmentType</servlet-name>
    <servlet-class>Railway.CompartmentType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompartmentType</servlet-name>
    <url-pattern>/CompartmentType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BerthType</display-name>
    <servlet-name>BerthType</servlet-name>
    <servlet-class>Railway.BerthType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BerthType</servlet-name>
    <url-pattern>/BerthType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapTrainVsStation</display-name>
    <servlet-name>MapTrainVsStation</servlet-name>
    <servlet-class>Railway.MapTrainVsStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapTrainVsStation</servlet-name>
    <url-pattern>/MapTrainVsStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compartment</display-name>
    <servlet-name>Compartment</servlet-name>
    <servlet-class>Railway.Compartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compartment</servlet-name>
    <url-pattern>/Compartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingCancel</display-name>
    <servlet-name>BookingCancel</servlet-name>
    <servlet-class>Railway.BookingCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingCancel</servlet-name>
    <url-pattern>/BookingCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketCancel</display-name>
    <servlet-name>TicketCancel</servlet-name>
    <servlet-class>Railway.TicketCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketCancel</servlet-name>
    <url-pattern>/TicketCancel</url-pattern>
  </servlet-mapping>
</web-app>